PORT=7000
NODE_ENV=development
DATABASE_URL="postgres://de4964cd435594578a976a0a08d49229e8b8f336459eae9abe400a436253b90c:sk_6ImuNjCkGyl6i6vviFuah@pooled.db.prisma.io:5432/postgres?sslmode=require"
BETTER_AUTH_SECRET="your-better-auth-secret-key-at-least-32-chars-long"
BETTER_AUTH_URL="http://localhost:7000"
SMTP_USER="your-email@gmail.com"
SMTP_PASS="your-gmail-app-password"
SMTP_FROM="Doctor Management <your-email@gmail.com>"